html,
body {
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgb(9,121,104);
  background: radial-gradient(circle, rgba(9,121,104,1) 11%, rgba(6,5,80,1) 39%, rgba(31,137,8,1) 63%, rgba(2,0,36,1) 81%, rgba(0,212,255,1) 100%);
  filter: saturate(1);
}

.container {
  position: fixed;
  min-height: 100%;
  min-width:100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.clock {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem white);
}

.clock-front {
  min-height: 30em;
  min-width: 30em;
  border-radius: 50%;
  background-color: transparent;
  border: 9px solid #157F1F;
  box-shadow: 1px 5px 9px black;
  z-index:-1;
}

span {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  filter: drop-shadow(0 0 0.75rem white);

}

.hand {
  min-height: 5px;
  min-width: 15em;
  offset: auto;
  position: absolute;
  top: 50%;
  right:50%;
  border-radius: 50%;
}

.flex-center-transform {
  transform-origin: right;
  transform: rotate(0rad);
  display: flex;
  justify-content: center;
}

.hours {
  z-index: 0;
  background-color: #4CB963;
}

#hours {
  position: absolute;
  top: 50%;
  right:57%;
  color: #f8ffd5;
  font-size: 2em;
}

.minutes {
  z-index: 1;
  background-color: #A0EADE;
}

#minutes {
  position: absolute;
  top: 30%;
  right:48%;
  color: #f8ffd5;
  font-size: 2em;
}

.seconds {
  z-index: 2;
  background-color: #1D263B;
}

#seconds {
  position: absolute;
  top: 50%;
  right: 40%;
  color: #f8ffd5;
  font-size: 2em;
}
